@import 'settings/_reset';
@import 'settings/_variables';
@import 'mixins/_box-shadow';

@import 'components/_titles';
@import 'components/_buttons';
@import 'components/_card';
@import 'components/_form';
@import 'components/_listage';

@import 'modules/_task-info';
@import 'modules/_task-listage';
@import 'modules/_task-filter';

body {
  background: $grey;
  font-family: $main-font;
  font-size: 16px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}
