.listage {
  padding-left: 15px;

  li {
    margin-bottom: 10px;

    .fa-calendar {
      margin-right: 10px;
    }

    .fa-times {
      color: $main-color;
      margin-left: 10px;
    }

    .fa-check {
      color: $light-green;
      margin-left: 10px;
    }
  }
}