h1 {
  color: $main-color;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  color: $main-color;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}